.aboutSection {
  min-height: 60vh;
  font-family: regular;
}

.aboutSection-container {
  @include flex(flex-start, center, column);
  @include setWidth(0rem);
  color: map-get($color, "white");
  min-height: 60vh;
  #aboutSection-title {
    font-family: heavy;
    font-size: map-get($font-size, "title");
    margin-bottom: 5rem;
  }

  .aboutSection-description-box {
    min-height: 30vh;
    .aboutSection-description {
      font-size: map-get($font-size, "paragraph");
      padding: 2rem 0;
      width: 75%;
    }
    ul {
      @include flex(center, flex-start);
      min-height: 5vh;
      width: 50%;
      li {
        font-family: slanted;
        font-size: map-get($font-size, "paragraph");
        color: rgba(map-get($color, "primary"), 0.8);
        padding-right: 3rem;
        list-style-type: none;
      }
    }
  }
}
