.contactSection {
  min-height: 30vh;
}

.contactSectionContainer {
  @include flex(flex-start, flex-start, column);
  @include setWidth;
  font-family: regular;
  color: map-get($color, "white");
  min-height: 30vh;
  .contactSectionTitle {
    font-size: map-get($font-size, "title");
    font-family: heavy;
    span {
      color: map-get($color, "primary");
    }
  }
  .contactSectionDescription {
    font-size: map-get($font-size, "paragraph");
    padding-top: 4rem;
    width: 55%;
    span {
      font-family: heavy;
    }
  }
  #ContactMail {
    color: map-get($color, "white");
    border: 2px solid map-get($color, "primary");
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-decoration: none;
    font-size: map-get($font-size, "paragraph");
    position: relative;
    transition: 0.2s ease-in-out all;
    span {
      position: relative;
      z-index: 2;
    }
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: map-get($color, "primary");
      transition: 0.2s ease-in-out all;
    }
    &:hover {
      color: map-get($color, "black");
      &:after {
        width: 100%;
      }
    }
  }
}

footer {
  min-height: 7vh;
  background: #ffffff;
  @include flex(center, center);
  margin-top: 10rem;
  h5 {
    font-size: map-get($font-size, "footer");
    color: rgba(map-get($color, "black"), 0.7);
    font-family: regular;
  }
}
