.intro {
  font-family: regular;
  width: 60%;
  margin: auto;
  @include lg {
    min-height: 60vh;
  }
  @include md {
    min-height: 60vh;
  }
  @include sm {
    width: 100%;
  }
}

.main-box {
  width: 100%;
  position: relative;
  opacity: 0;
  animation: loadScreen 1s ease-in forwards 5.5s;
}
.main-inner {
  min-height: 60vh;
  @include setWidth($width: 100%);
  padding: 10rem 0;
  @include flex(flex-start, center, column);
  .hello {
    font-size: map-get($font-size, "navigation");
    color: map-get($color, "white");
  }
  .name {
    font-family: heavy;
    font-size: map-get($font-size, "title");
    color: map-get($color, "primary");
    letter-spacing: 0.07rem;
  }
  .name-about {
    font-family: heavy;
    font-size: map-get($font-size, "title");
    color: map-get($color, "secondary");
    letter-spacing: 0.07rem;
  }
  .description {
    font-family: slanted;
    font-size: map-get($font-size, "paragraph");
    color: map-get($color, "white");
    letter-spacing: 0.1rem;
    width: 50%;
    padding: 2rem 0;
  }

  @include xxsm {
  }
  @include xsm {
  }
  @include sm {
    min-height: 30vh;
    @include setWidth(0rem, 70%);
    padding: 5rem 0rem;
    .hello {
      font-size: 1.4rem;
    }
    .name,
    .name-about {
      font-size: 5vw;
    }
    .description {
      width: 80%;
      font-size: 1.2rem;
    }
  }
  @include md {
  }
  @include lg {
  }
  @include xlg {
    .hello {
      font-size: 2.8rem;
    }
    .name,
    .name-about {
      font-size: 4.2324vw;
    }
  }
  @include xxlg {
    .hello {
      font-size: 3.6rem;
    }
    .name,
    .name-about {
      font-size: 4.4324vw;
    }
    .description {
      font-size: 4.2rem;
      width: 70%;
    }
  }
}

@keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
