.intro {
  font-family: regular;
  min-height: 60vh;
  width: 60%;
  margin: auto;
}

.main-box {
  width: 100%;
  position: relative;
  opacity: 0;
  animation: loadScreen 1s ease-in forwards 5.5s;
}
.main-inner {
  min-height: 60vh;
  @include setWidth($width: 100%);
  padding: 10rem 0;
  @include flex(flex-start, center, column);
  .hello {
    font-size: map-get($font-size, "navigation");
    color: map-get($color, "white");
  }
  .name {
    font-family: heavy;
    font-size: map-get($font-size, "title");
    color: map-get($color, "primary");
    letter-spacing: 0.07rem;
  }
  .name-about {
    font-family: heavy;
    font-size: map-get($font-size, "title");
    color: map-get($color, "secondary");
    letter-spacing: 0.07rem;
  }
  .description {
    font-family: slanted;
    font-size: map-get($font-size, "paragraph");
    color: map-get($color, "white");
    letter-spacing: 0.1rem;
    width: 50%;
    padding: 2rem 0;
  }
}

@keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
