.links {
  min-height: 10vh;
  position: fixed;
  top: 50%;
  left: 6vw;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: loadLinks 1s ease-in forwards 6s;
  .links-inner {
    @include flex(center, center, column);
    svg {
      opacity: 0.7;
      height: 2.5rem;
      width: 2.5rem;
      margin: 2rem 0rem;
      transition: 0.2s ease-in-out all;
      &:hover {
        opacity: 1;
        path {
          fill: map-get($color, "primary");
        }
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "laptop")) {
    left: 7vw;
  }
  @media screen and (max-width: map-get($breakpoints, "1440p")) {
    .links-inner {
      svg {
        height: 4rem;
        width: 4rem;
        margin: 3rem 0rem;
      }
    }
  }
}

@keyframes loadLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
