@import "./include-media";

nav {
  width: 100vw;
  height: 10vh;
  font-family: Heavy;
}

.nav-bar {
  @include flex(center, space-between);
  @include setWidth(0rem, 90%);
  min-height: 10vh;
  opacity: 0;
  animation: loadNav 1s ease-in forwards 5.5s;
  .nav-bar-left {
    padding: 1rem 0;
    img {
      height: 5rem;
    }
  }
  .nav-bar-right {
    width: 25%;
    .nav-bar-list {
      @include flex(center, space-between);
      .nav-bar-item {
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: map-get($font-size, "navigation");
          color: map-get($color, "white");
          transition: 0.2s ease-in-out all;
          &:hover {
            color: map-get($color, "primary");
          }
        }
      }
    }
  }
}

// contact box properties
#contactMail {
  padding: 1rem 2rem;
  color: map-get($color, "white");
  border: 2px solid map-get($color, "primary");
  position: relative;
  transition: 0.2s ease-in-out all;
  span {
    position: relative;
    z-index: 2;
  }
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: map-get($color, "primary");
    transition: 0.2s ease-in-out all;
  }
  &:hover {
    color: map-get($color, "black");
    &:after {
      width: 100%;
    }
  }
}

//burger for mobile viewpoint
.burger {
  display: none;
  div {
    height: 0.2rem;
    width: 2rem;
    margin: 0.3rem;
    align-self: flex-end;
    background-color: map-get($color, "primary");
  }
  .line2 {
    width: 1.6rem;
  }
}

.nav-bar-active {
  transform: translateX(0%);
}
@keyframes loadNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .nav-bar {
    @include setWidth(0rem, 90%);
    @include flex(center, space-between);
    min-height: 8vh;
    #nav-logo {
      height: 3rem;
      transform: translateY(10%);
    }
    // .nav-bar-right {
    //   display: none;
    // }
    .nav-bar-right {
      position: absolute;
      right: 0;
      top: 8vh;
      height: 90vh;
      background: red;
      width: 80%;
      display: flex;
      align-items: center;
      transform: translateX(100%);
      transform: transform 0.5s ease-in;
      .nav-bar-list {
        min-height: 60vh;
        margin: auto auto;
        @include flex(center, space-between, column);
        .nav-bar-item {
          opacity: 0;
        }
      }
    }
    .burger {
      @include flex(center, flex-end, column);
      cursor: pointer;
    }
  }
}
