.work {
  min-height: 80vh;
  @include setWidth;
  font-family: heavy;
}

.work-container {
  min-height: 80vh;
  .work-title {
    @include flex(flex-start, flex-start);
    font-size: map-get($font-size, "title");
    margin-bottom: 5rem;
    opacity: 0;
    animation: loadTitle 1s ease-in forwards 7s;
    .work-title-1 {
      color: map-get($color, "white");
    }
    .work-title-2 {
      color: rgba(map-get($color, "primary"), 0.35);
    }
    .work-title-3 {
      color: rgba(map-get($color, "secondary"), 0.2);
    }
  }

  .project {
    min-height: 15vh;
    @include flex(center, center);
    margin-bottom: 3rem;
    h1,
    h1 a {
      transition: 0.2s ease-in-out all;
      text-decoration: none;
      color: map-get($color, "white");
      font-size: map-get($font-size, "workItems");
      letter-spacing: 0.1rem;
      cursor: pointer;
      position: relative;
    }
    h1 a:hover {
      color: map-get($color, "primary");
    }
    .stripes {
      width: 100%;
      position: absolute;
      overflow: visible;
      z-index: -2;
    }
  }
}

@keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
