.work {
  min-height: 80vh;
  @include setWidth;
  font-family: heavy;
  @include sm {
    @include setWidth(0, 70%);
    min-height: 60vh;
  }
  @include sm-md {
    @include setWidth(0, 70%);
    min-height: 60vh;
  }
}

.work-container {
  min-height: 80vh;
  .work-title {
    @include flex(flex-start, flex-start);
    font-size: map-get($font-size, "title");
    margin-bottom: 5rem;
    opacity: 0;
    animation: loadTitle 1s ease-in forwards 7s;
    .work-title-1 {
      color: map-get($color, "white");
    }
    .work-title-2 {
      color: rgba(map-get($color, "primary"), 0.35);
    }
    .work-title-3 {
      color: rgba(map-get($color, "secondary"), 0.2);
    }
  }

  .project {
    min-height: 15vh;
    @include flex(center, center);
    margin-bottom: 3rem;
    h1,
    h1 a {
      transition: 0.2s ease-in-out all;
      text-decoration: none;
      color: map-get($color, "white");
      font-size: map-get($font-size, "workItems");
      letter-spacing: 0.1rem;
      cursor: pointer;
      position: relative;
    }
    h1 a:hover {
      color: map-get($color, "primary");
    }
    .stripes {
      width: 100%;
      position: absolute;
      overflow: visible;
      z-index: -2;
    }
  }

  @include xxsm {
  }
  @include xsm {
  }
  @include sm {
    min-height: 60vh;
    .work-title {
      font-size: 4.3vw;
    }
    .project {
      min-height: 10vh;
      .project-title,
      .project-title a {
        font-size: 3.6vw;
      }
      .stripes {
        display: none;
      }
      .project-box {
        position: absolute;
        height: 10vh;
        width: 70vw;
        z-index: -2;
      }

      &:nth-child(2) {
        background: #636363b2;
      }

      &:nth-child(3) {
        background: #ba2626b2;
      }
      &:nth-child(4) {
        background: #408e1cb2;
      }
      &:nth-child(5) {
        background: #5f2090b2;
      }
    }
  }
  @include sm-md {
    min-height: 60vh;
    .work-title {
      font-size: 4.3vw;
    }
    .project {
      min-height: 10vh;
      .project-title,
      .project-title a {
        font-size: 3.6vw;
      }
      .stripes {
        display: none;
      }
      .project-box {
        position: absolute;
        height: 10vh;
        width: 70vw;
        z-index: -2;
      }

      &:nth-child(2) {
        background: #636363b2;
      }

      &:nth-child(3) {
        background: #ba2626b2;
      }
      &:nth-child(4) {
        background: #408e1cb2;
      }
      &:nth-child(5) {
        background: #5f2090b2;
      }
    }
  }
  @include md {
    .stripes {
      width: 100%;
    }
  }
  @include lg {
  }
  @include xlg {
  }
  @include xxlg {
  }
}

@keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
