nav {
  width: 100vw;
  height: 10vh;
  //   background: rgba(255, 255, 255, 0.63);
  font-family: HeavySlanted;
}

.nav-bar {
  @include flex(center, space-between);
  min-height: 10vh;
  width: 92%;
  margin: 0 auto;
  .nav-logo {
    padding: 1rem 0;
    img {
      height: 5rem;
    }
  }
  a {
    transition: 0.2s ease-in-out all;
    padding: 1rem 2rem;
    background-color: map-get($color, "primary");
    text-decoration: none;
    .contact-box {
      transition: 0.2s ease-in-out all;
      color: map-get($color, "black");
      font-size: 2rem;
    }
    &:hover {
      background-color: map-get($color, "white");
    }
    // &:hover {
    //   animation: ease-in 0.2s buttonHover;
    // }
  }
}

@keyframes buttonHover {
  //srediti animacije t.d. kreću od lijeva prema desno, ulazak i izlazak (js)
}
