.work {
  min-height: 80vh;
  width: 60%;
  margin: 5rem auto;
  font-family: heavyslanted;
}

.work-container {
  min-height: 100vh;
  .work-title {
    @include flex(flex-start, flex-start);
    margin-bottom: 5rem;
    font-size: 5.3125vw;
    .work-title-1 {
      color: map-get($color, "white");
    }
    .work-title-2 {
      color: map-get($color, "primary");
      opacity: 0.35;
    }
    .work-title-3 {
      color: map-get($color, "secondary");
      opacity: 0.2;
    }
  }
  .project {
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    h1,
    h1 a {
      transition: 0.2s ease-in-out all;
      text-decoration: none;
      color: map-get($color, "white");
      font-size: 5.2rem;
      letter-spacing: 0.1rem;
      cursor: pointer;
      position: relative;
    }
    h1 a:hover {
      color: map-get($color, "primary");
    }
    .stripes {
      width: 100%;
      position: absolute;
      overflow: visible;
      z-index: -2;
    }
  }
}
