/*
    Global variables and functions
*/
/*
  font import, 4 styles. Later used inside child component as font-family
*/
@font-face {
  font-family: "regular";
  src: url(../fonts/ObjectSans/ObjectSans-Regular.otf);
}

@font-face {
  font-family: "slanted";
  src: url(../fonts/ObjectSans/ObjectSans-Slanted.otf);
}

@font-face {
  font-family: "heavy";
  src: url(../fonts/ObjectSans/ObjectSans-Heavy.otf);
}

@font-face {
  font-family: "heavySlanted";
  src: url(../fonts/ObjectSans/ObjectSans-HeavySlanted.otf);
}

/*
  mixins
*/
/*
    Imports of SCSS components
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  background-image: url(../img/bg-lines.svg);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*
    Loading screen (Jurica Hrg) style & animation properties
*/
#loading-screen {
  min-height: 100vh;
  min-width: 100vw;
  background: #000000;
  position: absolute;
  z-index: 1;
  overflow-y: hidden;
  -webkit-animation: disappearBackground 1s ease-in-out forwards 5.5s;
          animation: disappearBackground 1s ease-in-out forwards 5.5s;
}

#logo {
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.5s ease-in forwards 2.6s, disappearText 1s ease-in-out forwards 4s;
          animation: fill 0.5s ease-in forwards 2.6s, disappearText 1s ease-in-out forwards 4s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 369.04046630859375;
  stroke-dashoffset: 369.04046630859375;
  -webkit-animation: loading-animation 2s ease-in-out forwards;
          animation: loading-animation 2s ease-in-out forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 508.4376220703125;
  stroke-dashoffset: 508.4376220703125;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.3s;
          animation: loading-animation 2s ease-in-out forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 304.34979248046875;
  stroke-dashoffset: 304.34979248046875;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.6s;
          animation: loading-animation 2s ease-in-out forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 288.6568908691406;
  stroke-dashoffset: 288.6568908691406;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.9s;
          animation: loading-animation 2s ease-in-out forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 506.06341552734375;
  stroke-dashoffset: 506.06341552734375;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1.2s;
          animation: loading-animation 2s ease-in-out forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 616.4869995117188;
  stroke-dashoffset: 616.4869995117188;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1.5s;
          animation: loading-animation 2s ease-in-out forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 704.196044921875;
  stroke-dashoffset: 704.196044921875;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1s;
          animation: loading-animation 2s ease-in-out forwards 1s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 304.349853515625;
  stroke-dashoffset: 304.349853515625;
  -webkit-animation: loading-animation 1.5s ease-in-out forwards 1.3s;
          animation: loading-animation 1.5s ease-in-out forwards 1.3s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 853.14453125;
  stroke-dashoffset: 853.14453125;
  -webkit-animation: loading-animation 1.5s ease-in-out forwards 1.6s;
          animation: loading-animation 1.5s ease-in-out forwards 1.6s;
}

/*
    Custom scrollbar properties, visible when "loading-screen" animations are active.
    Tried overflow-y: hidden, no acomplishments
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0a500;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cf7500;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

@-webkit-keyframes loading-animation {
  0% {
    stroke: #f4f4f4;
  }
  30% {
    stroke-dashoffset: 0;
    stroke: #f4f4f4;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #f0a500;
  }
}

@keyframes loading-animation {
  0% {
    stroke: #f4f4f4;
  }
  30% {
    stroke-dashoffset: 0;
    stroke: #f4f4f4;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #f0a500;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #f0a500;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #f0a500;
  }
}

@-webkit-keyframes disappearBackground {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes disappearBackground {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@-webkit-keyframes disappearText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappearText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nav {
  width: 100vw;
  height: 10vh;
  font-family: Heavy;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin: 0rem auto;
  width: 90%;
  min-height: 10vh;
  opacity: 0;
  -webkit-animation: loadNav 1s ease-in forwards 5.5s;
          animation: loadNav 1s ease-in forwards 5.5s;
}

.nav-bar .nav-bar-left {
  padding: 1rem 0;
}

.nav-bar .nav-bar-left img {
  height: 5rem;
}

.nav-bar .nav-bar-right {
  width: 25%;
}

.nav-bar .nav-bar-right .nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item {
  list-style-type: none;
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item a {
  text-decoration: none;
  font-size: 2rem;
  color: #f4f4f4;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item a:hover {
  color: #f0a500;
}

#contactMail {
  padding: 1rem 2rem;
  color: #f4f4f4;
  border: 2px solid #f0a500;
  position: relative;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#contactMail span {
  position: relative;
  z-index: 2;
}

#contactMail:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f0a500;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#contactMail:hover {
  color: #000000;
}

#contactMail:hover:after {
  width: 100%;
}

.burger {
  display: none;
}

.burger div {
  height: 0.2rem;
  width: 2rem;
  margin: 0.3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #f0a500;
}

.burger .line2 {
  width: 1.6rem;
}

.nav-bar-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes loadNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 420px) {
  .nav-bar {
    margin: 0rem auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: "row";
            flex-direction: "row";
    min-height: 8vh;
  }
  .nav-bar #nav-logo {
    height: 3rem;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .nav-bar .nav-bar-right {
    position: absolute;
    right: 0;
    top: 8vh;
    height: 90vh;
    background: red;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform: transform 0.5s ease-in;
            transform: transform 0.5s ease-in;
  }
  .nav-bar .nav-bar-right .nav-bar-list {
    min-height: 60vh;
    margin: auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .nav-bar-right .nav-bar-list .nav-bar-item {
    opacity: 0;
  }
  .nav-bar .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
}

.intro {
  font-family: regular;
  min-height: 60vh;
  width: 60%;
  margin: auto;
}

.main-box {
  width: 100%;
  position: relative;
  opacity: 0;
  -webkit-animation: loadScreen 1s ease-in forwards 5.5s;
          animation: loadScreen 1s ease-in forwards 5.5s;
}

.main-inner {
  min-height: 60vh;
  margin: 5rem auto;
  width: 100%;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-inner .hello {
  font-size: 2rem;
  color: #f4f4f4;
}

.main-inner .name {
  font-family: heavy;
  font-size: 3.6324vw;
  color: #f0a500;
  letter-spacing: 0.07rem;
}

.main-inner .name-about {
  font-family: heavy;
  font-size: 3.6324vw;
  color: #cf7500;
  letter-spacing: 0.07rem;
}

.main-inner .description {
  font-family: slanted;
  font-size: 1vw;
  color: #f4f4f4;
  letter-spacing: 0.1rem;
  width: 50%;
  padding: 2rem 0;
}

@-webkit-keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.work {
  min-height: 80vh;
  margin: 5rem auto;
  width: 60%;
  font-family: heavy;
}

.work-container {
  min-height: 80vh;
}

.work-container .work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  font-size: 3.6324vw;
  margin-bottom: 5rem;
  opacity: 0;
  -webkit-animation: loadTitle 1s ease-in forwards 7s;
          animation: loadTitle 1s ease-in forwards 7s;
}

.work-container .work-title .work-title-1 {
  color: #f4f4f4;
}

.work-container .work-title .work-title-2 {
  color: rgba(240, 165, 0, 0.35);
}

.work-container .work-title .work-title-3 {
  color: rgba(207, 117, 0, 0.2);
}

.work-container .project {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin-bottom: 3rem;
}

.work-container .project h1,
.work-container .project h1 a {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 2.62vw;
  letter-spacing: 0.1rem;
  cursor: pointer;
  position: relative;
}

.work-container .project h1 a:hover {
  color: #f0a500;
}

.work-container .project .stripes {
  width: 100%;
  position: absolute;
  overflow: visible;
  z-index: -2;
}

@-webkit-keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  min-height: 60vh;
  font-family: regular;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem auto;
  width: 60%;
  color: #f4f4f4;
  min-height: 60vh;
}

.about-container #about-title {
  font-family: heavy;
  font-size: 3.6324vw;
  margin-bottom: 5rem;
}

.about-container .about-description-box {
  min-height: 30vh;
}

.about-container .about-description-box .about-description {
  font-size: 1vw;
  padding: 2rem 0;
  width: 75%;
}

.about-container .about-description-box .about-description span a {
  text-decoration: none;
  color: #cf7500;
  font-family: heavy;
}

.about-container .about-description-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  min-height: 5vh;
  width: 50%;
}

.about-container .about-description-box ul li {
  font-family: slanted;
  font-size: 1vw;
  color: rgba(240, 165, 0, 0.8);
  padding-right: 3rem;
  list-style-type: none;
}

.contactSection {
  min-height: 30vh;
}

.contactSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem auto;
  width: 60%;
  font-family: regular;
  color: #f4f4f4;
  min-height: 30vh;
}

.contactSectionContainer .contactSectionTitle {
  font-size: 3.6324vw;
  font-family: heavy;
}

.contactSectionContainer .contactSectionTitle span {
  color: #f0a500;
}

.contactSectionContainer .contactSectionDescription {
  font-size: 1vw;
  padding-top: 4rem;
  width: 55%;
}

.contactSectionContainer .contactSectionDescription span {
  font-family: heavy;
}

.contactSectionContainer #ContactMail {
  color: #f4f4f4;
  border: 2px solid #f0a500;
  padding: 1rem 2rem;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1vw;
  position: relative;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.contactSectionContainer #ContactMail span {
  position: relative;
  z-index: 2;
}

.contactSectionContainer #ContactMail:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f0a500;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.contactSectionContainer #ContactMail:hover {
  color: #000000;
}

.contactSectionContainer #ContactMail:hover:after {
  width: 100%;
}

footer {
  min-height: 7vh;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin-top: 10rem;
}

footer h5 {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  font-family: regular;
}

.links {
  min-height: 10vh;
  position: fixed;
  top: 50%;
  left: 6vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: loadLinks 1s ease-in forwards 6s;
          animation: loadLinks 1s ease-in forwards 6s;
}

.links .links-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links .links-inner svg {
  opacity: 0.7;
  height: 2.5rem;
  width: 2.5rem;
  margin: 2rem 0rem;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.links .links-inner svg:hover {
  opacity: 1;
}

.links .links-inner svg:hover path {
  fill: #f0a500;
}

@-webkit-keyframes loadLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */