/*
    Global variables and functions
*/
$color: (
  "black": #000000,
  "white": #f4f4f4,
  "primary": #f0a500,
  "secondary": #cf7500,
);

$font-size: (
  "title": 3.6324vw,
  "workItems": 2.62vw,
  "paragraph": 1vw,
  "navigation": 2rem,
  // WARNINIG: shares it's properties with main/ class="hello"
    "footer": 1.2rem,
);

$breakpoints: (
  "phone": 320px,
  "largePhone": 420px,
  "tablet": 768px,
  "laptop": 1366px,
  "desktop": 1920px,
  "1440p": 2560px,
  "2160p": 3840px,
);
/*
  font import, 4 styles. Later used inside child component as font-family
*/
@font-face {
  font-family: "regular";
  src: url(../fonts/ObjectSans/ObjectSans-Regular.otf);
}
@font-face {
  font-family: "slanted";
  src: url(../fonts/ObjectSans/ObjectSans-Slanted.otf);
}
@font-face {
  font-family: "heavy";
  src: url(../fonts/ObjectSans/ObjectSans-Heavy.otf);
}
@font-face {
  font-family: "heavySlanted";
  src: url(../fonts/ObjectSans/ObjectSans-HeavySlanted.otf);
}

/*
  mixins
*/
@mixin flex($align, $justify, $direction: "row") {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin setWidth($margin: 5rem, $width: 60%) {
  margin: $margin auto;
  width: $width;
}

@mixin xxsm {
  @media (max-width: map-get($breakpoints, "phone")) {
    @content;
  }
}
@mixin xsm {
  @media (max-width: map-get($breakpoints, "largePhone")) {
    @content;
  }
}
@mixin sm {
  @media (max-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "laptop")) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "dekstop")) {
    @content;
  }
}
@mixin xlg {
  @media (min-width: map-get($breakpoints, "1440p")) {
    @content;
  }
}
@mixin xxlg {
  @media (min-width: map-get($breakpoints, "2160p")) {
    @content;
  }
}
// add mixin for button hover
/*
    Imports of SCSS components
*/
@import "./components/global";
@import "./components/navigation";
@import "./components/intro";
@import "./components/work";
@import "./components/about";
@import "./components/contact";
@import "./components/links";
