/*
    Global variables and functions
*/
/*
  font import, 4 styles. Later used inside child component as font-family
*/
@font-face {
  font-family: "regular";
  src: url(../fonts/ObjectSans/ObjectSans-Regular.otf);
}

@font-face {
  font-family: "slanted";
  src: url(../fonts/ObjectSans/ObjectSans-Slanted.otf);
}

@font-face {
  font-family: "heavy";
  src: url(../fonts/ObjectSans/ObjectSans-Heavy.otf);
}

@font-face {
  font-family: "heavySlanted";
  src: url(../fonts/ObjectSans/ObjectSans-HeavySlanted.otf);
}

/*
  mixins
*/
/*
    Imports of SCSS components
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  background-image: url(../img/bg-lines.svg);
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*
    Loading screen (Jurica Hrg) style & animation properties
*/
#loading-screen {
  min-height: 100vh;
  min-width: 100vw;
  background: #000000;
  position: absolute;
  z-index: 1;
  overflow-y: hidden;
  -webkit-animation: disappearBackground 1s ease-in-out forwards 5.5s;
          animation: disappearBackground 1s ease-in-out forwards 5.5s;
}

#logo {
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill 0.5s ease-in forwards 2.6s, disappearText 1s ease-in-out forwards 4s;
          animation: fill 0.5s ease-in forwards 2.6s, disappearText 1s ease-in-out forwards 4s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 369.04046630859375;
  stroke-dashoffset: 369.04046630859375;
  -webkit-animation: loading-animation 2s ease-in-out forwards;
          animation: loading-animation 2s ease-in-out forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 508.4376220703125;
  stroke-dashoffset: 508.4376220703125;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.3s;
          animation: loading-animation 2s ease-in-out forwards 0.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 304.34979248046875;
  stroke-dashoffset: 304.34979248046875;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.6s;
          animation: loading-animation 2s ease-in-out forwards 0.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 288.6568908691406;
  stroke-dashoffset: 288.6568908691406;
  -webkit-animation: loading-animation 2s ease-in-out forwards 0.9s;
          animation: loading-animation 2s ease-in-out forwards 0.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 506.06341552734375;
  stroke-dashoffset: 506.06341552734375;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1.2s;
          animation: loading-animation 2s ease-in-out forwards 1.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 616.4869995117188;
  stroke-dashoffset: 616.4869995117188;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1.5s;
          animation: loading-animation 2s ease-in-out forwards 1.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 704.196044921875;
  stroke-dashoffset: 704.196044921875;
  -webkit-animation: loading-animation 2s ease-in-out forwards 1s;
          animation: loading-animation 2s ease-in-out forwards 1s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 304.349853515625;
  stroke-dashoffset: 304.349853515625;
  -webkit-animation: loading-animation 1.5s ease-in-out forwards 1.3s;
          animation: loading-animation 1.5s ease-in-out forwards 1.3s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 853.14453125;
  stroke-dashoffset: 853.14453125;
  -webkit-animation: loading-animation 1.5s ease-in-out forwards 1.6s;
          animation: loading-animation 1.5s ease-in-out forwards 1.6s;
}

/*
    Custom scrollbar properties, visible when "loading-screen" animations are active.
    Tried overflow-y: hidden, no acomplishments
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f0a500;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cf7500;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

@-webkit-keyframes loading-animation {
  0% {
    stroke: #f4f4f4;
  }
  30% {
    stroke-dashoffset: 0;
    stroke: #f4f4f4;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #f0a500;
  }
}

@keyframes loading-animation {
  0% {
    stroke: #f4f4f4;
  }
  30% {
    stroke-dashoffset: 0;
    stroke: #f4f4f4;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: #f0a500;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #f0a500;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #f0a500;
  }
}

@-webkit-keyframes disappearBackground {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes disappearBackground {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@-webkit-keyframes disappearText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappearText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nav {
  width: 100vw;
  height: 10vh;
  font-family: Heavy;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin: 0rem auto;
  width: 90%;
  min-height: 10vh;
  opacity: 0;
  -webkit-animation: loadNav 1s ease-in forwards 5.5s;
          animation: loadNav 1s ease-in forwards 5.5s;
}

.nav-bar .nav-bar-left {
  padding: 1rem 0;
}

.nav-bar .nav-bar-left img {
  height: 5rem;
}

.nav-bar .nav-bar-right {
  width: 25%;
}

.nav-bar .nav-bar-right .nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item {
  list-style-type: none;
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item a {
  text-decoration: none;
  font-size: 2rem;
  color: #f4f4f4;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.nav-bar .nav-bar-right .nav-bar-list .nav-bar-item a:hover {
  color: #f0a500;
}

#contactMail {
  padding: 1rem 2rem;
  color: #f4f4f4;
  border: 2px solid #f0a500;
  position: relative;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#contactMail span {
  position: relative;
  z-index: 2;
}

#contactMail:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #f0a500;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#contactMail:hover {
  color: #000000;
}

#contactMail:hover:after {
  width: 100%;
}

@-webkit-keyframes loadNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  font-family: regular;
  min-height: 60vh;
  width: 60%;
  margin: auto;
}

.main-box {
  width: 100%;
  position: relative;
  opacity: 0;
  -webkit-animation: loadScreen 1s ease-in forwards 5.5s;
          animation: loadScreen 1s ease-in forwards 5.5s;
}

.main-inner {
  position: absolute;
  min-height: 60vh;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-inner .hello {
  font-size: 2rem;
  font-family: regular;
  color: #f4f4f4;
}

.main-inner .name {
  font-family: heavy;
  font-size: 7.2rem;
  letter-spacing: 0.07rem;
  color: #f0a500;
}

.main-inner .about {
  font-family: heavy;
  font-size: 7.2rem;
  letter-spacing: 0.07rem;
  color: #cf7500;
}

.main-inner .description {
  letter-spacing: 0.1rem;
  width: 45%;
  font-size: 1.6rem;
  font-family: slanted;
  color: #f4f4f4;
  padding: 2rem 0;
}

@-webkit-keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadScreen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.work {
  min-height: 80vh;
  width: 60%;
  margin: 5rem auto;
  font-family: heavyslanted;
}

.work-container {
  min-height: 100vh;
}

.work-container .work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
  margin-bottom: 5rem;
  font-size: 5.3125vw;
  opacity: 0;
  -webkit-animation: loadTitle 1s ease-in forwards 7s;
          animation: loadTitle 1s ease-in forwards 7s;
}

.work-container .work-title .work-title-1 {
  color: #f4f4f4;
}

.work-container .work-title .work-title-2 {
  color: #f0a500;
  opacity: 0.35;
}

.work-container .work-title .work-title-3 {
  color: #cf7500;
  opacity: 0.2;
}

.work-container .project {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.work-container .project h1,
.work-container .project h1 a {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 5.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  position: relative;
}

.work-container .project h1 a:hover {
  color: #f0a500;
}

.work-container .project .stripes {
  width: 100%;
  position: absolute;
  overflow: visible;
  z-index: -2;
}

@-webkit-keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadTitle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aboutSection {
  min-height: 60vh;
  font-family: regular;
}

.aboutSection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 60vh;
  width: 60%;
  margin: 5rem auto;
  color: #f4f4f4;
}

.aboutSection-container .aboutSection-title {
  position: relative;
}

.aboutSection-container .aboutSection-title #aboutSection-title {
  font-family: heavy;
  font-size: 5.3125vw;
}

.aboutSection-container .aboutSection-title h1 span {
  position: absolute;
  bottom: -17px;
  left: 0;
  z-index: -2;
  font-size: 9.3125vw;
  color: #f0a500;
  opacity: 0.2;
}

.aboutSection-container .aboutSection-description-box {
  min-height: 30vh;
}

.aboutSection-container .aboutSection-description-box .aboutSection-description {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 75%;
}

.aboutSection-container .aboutSection-description-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5vh;
  width: 40%;
}

.aboutSection-container .aboutSection-description-box ul li {
  padding-right: 3rem;
  list-style-type: none;
  font-size: 1.8rem;
  color: #f0a500;
  opacity: 0.8;
  font-family: slanted;
}

.contactSection {
  min-height: 40vh;
}

.contactSectionContainer {
  min-height: 40vh;
  width: 60%;
  margin: 0rem auto 10rem;
  font-family: regular;
  color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactSectionContainer .contactSectionTitle {
  font-size: 5.3125vw;
  font-family: heavy;
}

.contactSectionContainer .contactSectionTitle span {
  color: #f0a500;
}

.contactSectionContainer .contactSectionDescription {
  padding-top: 4rem;
  font-size: 2.4rem;
  width: 60%;
}

.contactSectionContainer .contactSectionDescription span {
  font-family: heavy;
}

.contactSectionContainer a {
  margin-top: 3rem;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  padding: 1rem 2rem;
  background-color: #f0a500;
  font-family: heavy;
  text-decoration: none;
}

.contactSectionContainer a .contact-box {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  color: #000000;
  font-size: 2rem;
}

.contactSectionContainer a:hover {
  background-color: #f4f4f4;
}

footer {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

footer h5 {
  font-size: 1.2rem;
  color: #f4f4f4;
  font-family: regular;
  opacity: 0.7;
}

.links {
  min-height: 10vh;
  position: fixed;
  top: 50%;
  left: 5vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: loadLinks 1s ease-in forwards 6s;
          animation: loadLinks 1s ease-in forwards 6s;
}

.links .links-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links .links-inner svg {
  opacity: 0.7;
  height: 2.5rem;
  width: 2.5rem;
  margin: 2rem 0rem;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.links .links-inner svg:hover {
  opacity: 1;
}

.links .links-inner svg:hover path {
  fill: #f0a500;
}

@-webkit-keyframes loadLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */